.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  position: relative;
  z-index: 2;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper1 {
  position: fixed;
  top: 10%;
  bottom: 5%;
  left: 65%;
  min-height: 500px;
  border: solid red;
}

.characterWrapper2 {
  position: absolute;
  text-align: center;
  top: 0%;
  bottom: 0;
  left: 45%;
  min-height: 500px;
  display:none;
  border: solid green;
}

.controlColumn {
  max-width: 50%;
  position: relative;
}

.perspectiveBar {
  height: 400px;
  width: 100%;
  background-color: hsl(195deg, 20%, 86%);
  position: absolute;
  bottom: 0;
}

.mediaCharacter {
  display: none;
}

@media (max-width: 900px) {
  
  .characterEditor {
    overflow: hidden;
  }

  .header {
    width: 50%;
  }

  .characterWrapper1 {
    display: none;
  }

  .characterWrapper2 {
    display: block;
  }

  .controlColumn {
    display: flex;
    overflow: auto;
    max-width: 150%;
    gap: 16px;
    margin-inline: -32px;
    margin-bottom: 150px;
  }

  .controlColumn > * {
    min-width: 300px;
  }
}

@media (max-width: 650px) {
  .header {
    width: 45%;
  }

  .title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
  }
  
  .description {
    font-size: 1rem;
    margin: 0;
  }

  .characterWrapper2 {
    left: 40%;
  }
}

@media (max-width: 500px) {
  .header {
    visibility: hidden;
    min-width: 125px;
  }

  .characterWrapper2 {
    left: 0%;
  }
}