.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  position: relative;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper1 {
  position: fixed;
  top: 128px;
  right: 0px;
  min-height: 500px;
  height: 85vh;
}

.characterWrapper2 {
  position: absolute;
  top: 80px;
  right: -100px;
  min-height: 500px;
  height: 80vh;
  display:none;
}

.controlColumn {
  max-width: 50%;
  white-space: nowrap;
  position: relative;
}

.perspectiveBar {
  height: 400px;
  width: 100%;
  background-color: hsl(195deg, 20%, 86%);
  position: absolute;
  bottom: 0;
}

.mediaCharacter {
  display: none;
}

@media (max-width: 500px) {
  .characterEditor {
    overflow: hidden;
  }

  .characterWrapper1 {
    display: none;
  }

  .characterWrapper2 {
    display: block;
  }

  .controlColumn {
    display: flex;
    overflow: auto;
    max-width: 150%;
    gap: 16px;
    margin-inline: -32px;
  }

  .controlColumn > * {
    min-width: 300px;
  }
}